<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Hola Mundo</h1>

<br>

<label>Edad uno:</label><input type="number" [(ngModel)]= "edadUno">
<br>
<label>Edad dos:</label><input type="number" [(ngModel)]= "edadDos">
<br>
<button (click)=Sumar()>Sumar</button>
<br>
<button (click)=Promedio()>Sacar promedio</button>
<br>
<label>Resultado suma:</label><input type="text" [(ngModel)]= "resultadoSuma">
<br>
<label>Resultado promedio:</label><input type="text" [(ngModel)]= "resultadoPromedio">

<router-outlet></router-outlet>
